@model Portfoliov1.Models.CvViewModel

@{
    ViewBag.Title = "CV";
}


<br />

<div class="CV">
    <div class="contact">
        <p> 07474949338 | o.miller216@gmail.com | 	43 Turves Green, Northfield, Birmingham, B31 4AH <hr /></p>

    </div>
    <div class="NameTitle">
        <h1><b>Orville Miller Graduate C# ASP.Net Developer</b></h1>
    </div>
    <br />
    <br />
    <div class="ps">
        <h4><b>Personal Statement</b></h4><hr />
        <p> I Graduated from Birmingham City University in July 2016, where I studied Computer Science and achieved a 2:1 with honours. During my studies, I was challenged with multiple task that enabled me to incorporate the principles of Object Oriented programming. From this I decided to learn more outside of my studies and practice using C# Asp.Net, and MVC.  I used simple console applications to practice my C# skills, while building larger applications using MVC 5 in Visual Studio 2015. An example of this would be final year project, or my online portfolio project which uses Entity Framework. I enjoy writing back end logic and solving problems that arise during programming.</p>
    </div>
    <br />
    <div id="Skills">
        <div class="row">
            <div class="col-md-4">
                <p><b>Software and Web Development Experience</b></p>
                <ul>
                    <li>
                        <p>C#</p>
                    </li>
                    <li>
                        <p>ASP.Net</p>
                    </li>
                    <li>
                        <p>MVC</p>
                    </li>
                    <li>
                        <p>SQL</p>
                    </li>
                    <li>
                        <p>JavaScript</p>
                    </li>
                    <li>
                        <p>CSS</p>
                    </li>
                    <li>
                        <p>BootStrap</p>
                    </li>
                    <li>
                        <p>Entity Framework</p>
                    </li>

                </ul>

            </div>
            <div class="col-md-offset-8">
                <p><b>Additional Technical Skills</b></p>
                <ul>
                    <li>
                        <p>Object Oriented Programming</p>
                    </li>
                    <li>
                        <p>Confident with a range of IDE such as Visual studio, xCode</p>
                    </li>
                    <li>
                        <p>Microsoft Office Suite( Word, Excel, Access, PowerPoint,)</p>
                    </li>
                    <li>
                        <p>Windows Operating Systems ( XP,7,8,10)</p>
                    </li>
                    <li>
                        <p>Network Design, switch/router configuration</p>
                    </li>

                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4">
                <p><b>Personable Skills</b> </p>
                <ul>
                    <li>
                        <p>Analytic thinker, Meticulous.</p>
                    </li>
                    <li>
                        <p>Excellent Communication Skills,</p>
                    </li>
                    <li>
                        <p>Can be a team leader if necessary.</p>
                    </li>
                    <li>
                        <p>Problem Solving Skills,</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Edu">
        <h4><b>Education</b></h4>
        <hr />
        <div id="EduTable">
            <div id="Uni">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <b>
                                Birmingham City University
                                <br />
                                (2013 – 2016)
                            </b>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            BSc (Hons) Computer Science - <b>2:1</b>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    Mobile and Web Technologies – 72
                                    <ul>
                                        <li>
                                            Using Swift, xCode, I created an iOS App to consume an API. The API returned a JSON format which I read the data from and displayed back to the user.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Advanced Software Development – 60
                                    <ul>
                                        <li>
                                            Using C# during this module, I created various console applications that carried out complex calculations that also obeyed the principles of OOP.
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    Discrete Computing and Algorithms – 68
                                    <ul>
                                        <li>
                                            In this module it was imperative that I understood logic and the abstraction of information and data to make logical statements.
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    Web Technologies – 79
                                    <ul>
                                        <li>
                                            Creating web applications using ASP.NET, CSS, HTML and C#.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Full Transcript Available Upon Request</p>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <div id="college">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <b>
                                Birmingham Metropolitan College
                                <br />
                                (2007-2012)
                            </b>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <ul>
                                <li>
                                    Access to IT(software Development) - <b>Distinction</b>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    BTEC Certificate IT (Software Development) - <b>Pass</b>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    GCSE English  - C
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    ECDL (European Computer Driving License) <b>level 2</b>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Communications Key Skills  <b>Level2</b>
                                </li>
                            </ul>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div id="School">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <b>
                                George Dixon International School
                                <br />
                                (2002-2007)
                            </b>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div>
                            <ul>
                                <li>
                                    GCSE Science –  <b>C</b>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    GCSE Math –   <b>C</b>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    GCSE English –  <b>C</b>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    BTEC Certificate Art and Design – <b>Pass</b>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    GCSE Geography – <b>C</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="WorK">
        <div class="Work">
            <h4><b>Work Experience</b></h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <b>
                            Sense
                            <br />
                            August 2014 - Current
                        </b>
                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <p><b>Support Worker</b>– Casual/bank staff</p>
                        <ul>
                            <li>
                                Supporting Deaf/Blind people to live and fulfill a normal life.
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Caring for the service user by offering guidance and help with day to day task such as making a cup of tea or doing the washing up.
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Using sign language/gestures or Hand under Hand (HuH) to communicate with a deaf/blind person.
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Working as a part of a team of support workers to bring the very best care possible, and making sure the service user is safe, healthy and happy.
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Handling challenging behavior, documenting it and advising other staff members
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <b>
                            Asian Resource Center
                            May 2005 (Work Experience)
                        </b>
                    </p>
                </div>
                <div class="col-md-8">
                    <p><b>Administration </b></p>
                    <ul>
                        <li>
                            Input data into the computer systems
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Multi-tasking using both phone and the computer
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Transferring calls to different staff members that are needed on the phone
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Speaking with people and giving advice with a fellow staff member
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Fast Paced Busy Environment
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="Personal">
        <div class="interest">
            <div class="row">
                <div class="col-md-4">
                    <p><b>PERSONAL RELATED INTERESTS</b></p>
                    <hr />
                    <ul>
                        <li>
                            I am able to build and configure Computers.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            I enjoy using Photoshop to design layouts.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            I enjoy relational database design.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            I enjoy trying out new methods.
                        </li>
                    </ul>

                </div>

                <div class="col-md-4">
                    <p><b>HOBBIES AND INTERESTS</b></p>
                    <hr />
                    <ul>
                        <li>
                            Programming – Learning new technologies
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Technology – Keeping up to date with the latest hardware and software.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Gym – Cardio and weight lifting.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Movies – Action and comedy movies.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Music
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Eating – Because food is life
                        </li>
                    </ul>
                </div>
            </div>
        </div>     

    </div>
    <div class="Refs">

        <p><b>References</b></p>
        <hr />
        <p>Available upon request.</p>

    </div>
    <div class="Additional">
        <p><b>Additional Information</b></p>
        <hr />
        <ul>
            <li>
                <p>Full UK Driver’s License with own car (Able to drive)</p>
            </li>
        </ul>
        
    </div>

</div>






@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }*@


@*@Html.ActionLink("Add", "CVEdit")*@
